/* .analytics-container {
    
    
    
    background-color: #f4f7fa;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  } */
  
  .analytics-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .section-title {
    color: #ff7700;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .statistic-card {
    background-color: #fff7e6;
    border: 1px solid #ff7700;
    border-radius: 8px;
  }
  
  .chart-container {
    margin: 40px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .orders-title {
    font-size: 1.8rem;
    text-align: center;
    color: #333;
    margin-top: 30px;
  }
  
  .orders-table {
    margin-top: 20px;
    background-color: #fff;
  }
  
  .ant-table-thead > tr > th {
    background-color: #ff7700;
    color: #fff;
  }
  
  .ant-table-tbody > tr > td {
    color: #555;
  }
  
  
  .analytics-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  
  .analytics-card {
    background: linear-gradient(135deg, #ff9a76, #ff6f61);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex: 1 1 calc(30% - 30px);
    
    text-align: center;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .analytics-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  
  .analytics-card h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #fff;
  }
  
  .analytics-card p {
    font-size: 2em;
    font-weight: bold;
  }