/* Content Section Styles */
.content-section {
    padding: 0px 5vw;
  }
  
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
    opacity: 0; /* Initially hidden */
    transform: translateX(-100px); /* Start off-screen to the left */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Transition for animation */
  }
  
  /* When row becomes visible, apply the animation */
  .row.visible {
    opacity: 1;
    transform: translateX(0); /* Slide back to its normal position */
  }
  
  .row.reverse {
    flex-direction: row-reverse; /* Flip image and text positions */
  }
  
  .content-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }
  
  .content-text {
    max-width: 500px;
  }
  
  .content-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .content-text p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
  }
  
  .divider {
    height: 2px;
    width: 100%;
    background-color: #ff7700; /* Color of the divider */
    margin: 40px auto; /* Center it horizontally */
  }
  *,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 240px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 200px;
  height: 100px;
  background-color: red;
  border-radius: 6px;
  position: absolute;
  left: max(calc(300px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}