.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-form {
  width: 100%;
}

.profile-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: .25px;
}

.field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-mode {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.edit-mode {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.ant-btn-link {
  color: #CB5217;
  margin-left: 8px;
}

.ant-form-item-control-input-content .ant-input {
  flex-grow: 1;
  margin-right: 8px;
}

.ant-form-item-control-input-content .ant-btn {
  width: auto;
}